<div class="card mt-5">
                <div class="card-body">
                    <form #estudianteForm="ngForm" (ngSubmit)="onSubmit(estudianteForm)">
                        <!-- TO UPDATE -->
                        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="estudianteService.selectedEstudiante.$key">
                                      <div class="form-row">
            
                            <div class="col-1">
                                            <label for="validationServer01">Grupo</label>
                                    <input  type="text"
                                    id="name"
                                    class="form-control"
                                    name="grupo"
                                    #grupo="ngModel"
                                    [(ngModel)]="estudianteService.selectedEstudiante.grupo" placeholder="Grupo"
                                    required>
                                 </div>
            
                            <div class="col-1">
                                  <label>Nombre</label>
                                    
                                    <input 
                                    type="text"
                                    class="form-control"
                                    name="nombre"
                                    #nombre="ngModel"
                                    [(ngModel)]="estudianteService.selectedEstudiante.nombre"
                                    placeholder="Nombre" required>
                            </div>
            
                            <div class="col-1">
                                  <label>E. Industrial</label>
                                   <input 
                                    type="text"
                                    class="form-control is-valid"
                                    name="Especifica_Industrial"
                                    #Especifica_Industrial="ngModel"
                                    [(ngModel)]="estudianteService.selectedEstudiante.Especifica_Industrial"
                                    placeholder=" Industrial" required>
                            </div>
            
             
                                    <div class="col-1">
                                  <label>E. Sistemas</label>
                                            
                                            <input 
                                            type="text"
                                            class="form-control is-valid"
                                            name="Especifica_Sistemas"
                                            #Especifica_Sistemas="ngModel"
                                            [(ngModel)]="estudianteService.selectedEstudiante.Especifica_Sistemas"
                                            placeholder="Sistemas" required>
                                    </div>
                                    <div class="col-1">
                                  <label>Transver 1</label>
                                            
                                            <input 
                                            type="text"
                                            class="form-control is-valid"
                                            name="Transversal_1"
                                            #Transversal_1="ngModel"
                                            [(ngModel)]="estudianteService.selectedEstudiante.Transversal_1"
                                            placeholder="Transv 1" required>
                                    </div>
                                    <div class="col-1">
                                  <label>Transver 2</label>
                                            
                                            <input 
                                            type="text"
                                            class="form-control is-valid"
                                            name="Transversal_2"
                                            #Transversal_2="ngModel"
                                            [(ngModel)]="estudianteService.selectedEstudiante.Transversal_2"
                                            placeholder="Transv 2" required>
                                    </div>
                                    <div class="col-1">
                                  <label>Transver 3</label>
                                            
                                            <input 
                                            type="text"
                                            class="form-control is-valid"
                                            name="Transversal_3"
                                            #Transversal_1="ngModel"
                                            [(ngModel)]="estudianteService.selectedEstudiante.Transversal_3"
                                            placeholder="Transver 3" required>
                                    </div>
                                    <div class="col-1">
                                  <label>Transver 4</label>
                                            
                                            <input 
                                            type="text"
                                            class="form-control is-valid"
                                            name="Transversal_4"
                                            #Transversal_1="ngModel"
                                            [(ngModel)]="estudianteService.selectedEstudiante.Transversal_4"
                                            placeholder="Transv 4"required >
                                    </div>
                                    <div class="col-1">
                                  <label>Observaciones</label>
                                            
                                            <input type="text" class="form-control" name="Observaciones"
                                            #Observaciones="ngModel"
                                            [(ngModel)]="estudianteService.selectedEstudiante.Observaciones"
                                            placeholder="Observaciones" >
            
                    </div>
                    <div class="col-1">
                     <button class="btn btn-success" type="submit"
                    style="margin: 33px 10px 0px -6px">
                                           <i class="fas fa-plus-circle"></i> Agregar
                                       
                                  </button>
                                  </div>  
                       <div class="col-1">
                                 <button class="btn btn-secondary"  type="reset" (click)="resetForm(estudianteForm)"
                                style="margin: 33px 10px 0px -6px">
                                
                               <i class="fas fa-sync-alt"></i> Limpiar
                             </button>
                             </div>                           
                        
            </div>
          
                    
          </form>
    </div>

  </div>
 
  