<div class="container">
</div>
<div class="card">
  <div class="card-body">
    <h3 class="text-center">
     LISTA DE ESTUDIANTES
    </h3>
    <table class="table table-striped table-sm table-hover">
        <thead>
            <th>Grupo</th>
            <th>Nombre</th>
            <th>Especifica Industrial</th>
            <th>Especifica Sistemas</th>
            <th>Transversal 1</th>
            <th>Transversal 2</th>
            <th>Transversal 3</th>	
            <th>Transversal 4</th>
            <th>Observaciones</th> 
            <th>Total</th>	 
            </thead>
      <tbody>
             <tr *ngFor="let estudiante of estudianteList">
                <td>{{estudiante.grupo}}</td>
               <td>{{estudiante.nombre | uppercase}}</td>
               <td>{{estudiante.Especifica_Industrial}}</td>
               <td>{{estudiante.Especifica_Sistemas}}</td>
               <td>{{estudiante.Transversal_1}}</td>
               <td>{{estudiante.Transversal_2}}</td>
               <td>{{estudiante.Transversal_3}}</td>
               <td>{{estudiante.Transversal_4}}</td>
               <td>{{estudiante.Observaciones}}</td>
               <td>{{estudiante.Promedio}}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(estudiante)">
                <i class="far fa-edit"></i>
            </a>
            <a class="btn btn-danger text-white" (click)="onDelete(estudiante.$key)">
                <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <div>
    <div style="display: block"  style="width: 80%;" class="container"  >
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
             ></canvas>
    </div>
   </div>
    
 
   
 